* {
    font-family: 'Open Sans', sans-serif
}

.koder__card{
border: 2px solid ;

}

.bootcamp__create{

    width: 100%;
    height: 38px;

}

#bootcamp{
    
    width: 100%;
    height: 38px;
}

.btn-link{
    border: none;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    width: 8rem;
    transition: 1s ease;

    &__details{
        background: rgba(84, 135, 194, 0.837);
    }

    &__edit{
        background: rgb(55, 94, 223) ;
    }

    &:hover{
        border: 1px solid rgb(5, 69, 197);
    }
    
}

.btn-primary{
    width: 8rem;
}